.contact-grid {
    margin-top: 8em;
    width: 24em;
}

.main-bg {
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.window-box {
    height: 480px;
    width: 720px;
}

.contact-img {
    width: 128px;
    height: 128px;
}

.contact-title {
    text-align: center;
}

.contact-option {
    display: inline-block;
    border: 3px solid rgb(241, 239, 239);
    border-radius: 5px;
    margin: 5px;
    transform: scale(1);
    background-color: white;
    transition: all .5s;

}

.contact-option:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 120px -38px #f8f9fa;
    transition: all .5s;
}