.contact-grid {
    margin-top: 8em;
    width: 24em;
}

.contact-img {
    width: 128px;
    height: 128px;
}

.contact-title {
    text-align: center;
}

.contact-option {
    display: inline-block;
}
