.contact-grid {
    margin-top: 8em;
    width: 24em;
}

.contact-img {
    width: 128px;
    height: 128px;
}

.contact-title {
    text-align: center;
}

.contact-option {
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 5px;

}

.contact-option:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 138px -38px rgba(160,160,160,1);
    background-color: rgba(160, 160, 160, 1);
    transition: all .5s;
}