* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbarSupportedContent {
    font-weight: 600;
    margin-left: 43em;
}
.bg-popo {
    background: linear-gradient(to right, #4287f5, #b61010);
}