<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GTA 5 Recovery Service</title>
        <link rel="stylesheet" href="css/custom.min.css"> <!-- Bootstrap 5 custom sass file (compiled)-->
        <link rel="stylesheet" href="css/specific.css">
    </head>
    <body>
        <div class="card" style="width: 19rem;">
            <div class="card-body">
                <h5 class="card-title">Contact Form</h5>
                <form
                    action="/contact"
                    name="Form"
                    method="POST"
                    id="contact-form"
                    onsubmit="return validateForm()"
                >
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input
                            name="identification"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="name@example.com"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea
                            class="form-control"
                            name="msg"
                            id="msg"
                            rows="3"
                        ></textarea>
                    </div>
                </form>
                <p class="card-text">You will be responed to within 48 hours through via email</p>
                <button
                    form="contact-form"
                    type="submit"
                    class="btn btn-lg-gradient"
                >Submit</button>
            </div>
        </div>
    </body>
</html>
